

langchain>=0.3.27,<0.4.0
langchain-core>=0.3.72,<0.4.0
langchain-community>=0.3.27,<0.4.0
langchain-openai>=0.3.28,<0.4.0
langchain-text-splitters>=0.3.9,<0.4.0
langchain-chroma>=0.2.5,<0.3.0


openai>=1.97.0
tiktoken>=0.9.0


chromadb>=1.0.15

# Uncomment if using FAISS instead of Chroma
# faiss-cpu>=1.11.0


python-dotenv>=1.1.1


pymupdf>=1.26.3
pdfplumber>=0.11.7
pypdf>=5.9.0


python-docx>=1.2.0
python-pptx>=1.0.2
openpyxl>=3.1.5

pandas>=2.3.1


beautifulsoup4>=4.13.4
lxml>=6.0.0

pillow>=11.3.0
pytesseract>=0.3.13
rapidocr-onnxruntime>=1.4.4


unstructured[all-docs]>=0.18.13



tqdm>=4.67.1
numpy>=2.3.1
requests>=2.32.4
